Support request

Thank you for writing this! I've been in a rabbit hole of trying to understand the in's and outs of openpgp for days now. This project is extremely helpful. I've learned more from reading the source than the documentation on the web. 

One thing I'm not sure on though is the Message implementation. It seems that the current implementation reads the entire message or message stream. I'd really like to understand how I can implement message as a source/sink. Ultimately I'd like to implement something like Botan's Pipe class. My use case is more or less memory mapped file->message codec->decrypt->decompress->parse clear text for a very large file. 

Is this currently possible? 

There is are multipart message blocks defined in RFC 4880 (section 6.2), and I believe that it is what you are looking for. Unfortunately, I did not implement that. I will try to get to that at some point, but it won't be any time soon. If you implement it before I do, please feel free to submit a pull request.

Cool. Thx for the reply